.my-dropdowns {
  background-color: #0b162f;
  color: #fff;
}

.my-dropdown {
  display: inline-block;
}

.my-dropdown__toggle {
  padding: 10px;
  height: 100%;
}

.my-dropdown .ddm-dropdown__body {
  background-color: #5b92f4;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.my-dropdown__content {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.my-dropdown__content li {
  padding: 4px 0;
}

.my-dropdown .ddm-dropdown__toggle--with-arrow:before {
  border-bottom-color: #5b92f4;
}

a {
  color: #fff;
  text-decoration: none;
}
