.ddm-dropdown {
  position: relative; }

.ddm-dropdown__body {
  display: none; }

.ddm-dropdown--open .ddm-dropdown__body {
  display: block; }

.ddm-dropdown__toggle {
  position: relative; }

.ddm-dropdown__toggle--with-arrow:before {
  position: relative;
  content: "";
  /* force empty :after element creation */
  /* border is used to create marker */
  border-bottom: 7px solid;
  /* erase the corners to make triangle */
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  /* then we position below parent */
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -7px;
  display: none; }

.ddm-dropdown--open .ddm-dropdown__toggle--with-arrow:before {
  display: block; }

/*body*/
.ddm-dropdown-is-open {
  cursor: pointer; }
