.ddm-dropdown__body {
  display: none;
}

.ddm-dropdown--open .ddm-dropdown__body {
  display: block;
}

.ddm-dropdown__toggle {
  position: relative;
}

.ddm-dropdown__toggle--with-arrow:before {
  $width: 14px;

  content: ""; /* force empty :after element creation */

  /* border is used to create marker */
  border-bottom: ($width / 2) solid;

  /* erase the corners to make triangle */
  border-left: ($width / 2) solid transparent;
  border-right: ($width / 2) solid transparent;

  /* then we position below parent */
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -($width / 2);

  display: none;
}

.ddm-dropdown--open .ddm-dropdown__toggle--with-arrow:before {
  display: block;
}

/*body*/.ddm-dropdown-is-open {
  cursor: pointer;
}