.ddm-dropdown {
  position: relative;
  display: inline-block;
}

.ddm-dropdown__toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.ddm-dropdown__toggle--with-arrow:before {
  position: relative;
  $width: 14px;
  $halfWidth: $width / 2;

  content: ""; /* force empty :after element creation */

  /* border is used to create marker */
  border-bottom: $halfWidth solid;

  /* erase the corners to make triangle */
  border-left: $halfWidth solid transparent;
  border-right: $halfWidth solid transparent;

  /* then we position below parent */
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -($halfWidth);

  display: none;

  .ddm-dropdown--open & {
    display: block;

    // force pseudo element redraw in ie8
    // see http://stackoverflow.com/questions/8703799/forcing-ie8-to-rerender-repaint-before-after-pseudo-elements
    content: "  ";
  }
}

.ddm-dropdown__body {
  display: none;

  .ddm-dropdown--open & {
    display: block;
  }
}

/*body*/.ddm-dropdown-is-open {
  cursor: pointer;
}
